@import url("~@xterm/xterm/css/xterm.css");



.container {
    overflow: auto;
    /* 防止浮动造成的父容器高度塌陷 */
}

.left-column,
.right-column {
    float: left;
    /* 左栏浮动 */
    height: 100%;
    /* 示例高度 */
}

.left-column {
    /* width: 640px; */
    /* 左栏宽度 */
    background-color: lightblue;
}

.right-column {
    width: 500px;
    /* 右栏宽度 */
    background-color: lightgreen;
    margin-left: 1%;
    /* 可选，为右栏添加一些左边距，使其与左栏有一定间隔 */
}

#editor {
    width: 600px;
    height: 600px;
}

#terminal {
    width: 600px;
    height: 400px;
}

#canvas {
    width: 640px;
    height: 400px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .jsdos-canvas-layout {
        width: 100vw;
        height: 60vh;
        background-color: gray;
    }
}

@media screen and (min-width: 768px) {
    .jsdos-canvas-layout {
        width: 50vw;
        height: 60vh;
        background-color: gray;
    }
}

.introtag{
    font-size: 10px;
    font-weight: bold;
    color: #422f2f;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* 隐藏默认的文件输入框 */
#bundle-upload {
    display: none;
}

/* 自定义上传按钮样式 */
.custom-upload-btn {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-upload-btn:hover {
    background-color: #0056b3;
}