/* 整体布局采用 flexbox */
body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh; /* 使 body 占满整个视口高度 */
  }
  
  /* 左栏样式 */
  .left-column {
    flex: 1; /* 左栏占剩余空间的一部分 */
    display: flex;
    flex-direction: column;
  }
  
  /* 让 jsdos-canvas-layout 尽可能大 */
  .jsdos-canvas-layout {
    flex: 1; /* 占满左栏剩余空间 */
  }
  
  /* 右栏样式 */
  .right-column {
    flex: 1; /* 右栏占剩余空间的一部分 */
    display: flex;
    flex-direction: column;
  }
  
  /* 让 editor 元素尽可能大 */
  #editor {
    flex: 1; /* 占满右栏剩余空间 */
  }
  
  /* 当设备屏幕较小时隐藏 stats */
@media (max-width: 768px) {
    
    /* 左右两栏改为上下排列 */
    body {
      flex-direction: column;
    }
    
    /* 确保屏幕较小时 editor 较大 */
    .left-column,
    .right-column {
      width: 100%;
    }
  }


  #intro a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: larger;
    background-color: burlywood;
  }

  #intro{
    background-color: aquamarine;
    font-family: monospace;
    color: gray;
  }
  